
{% extends "base.html" %}
{% block title %}

Archives for the {{ period | reverse | join(' ') }} |

{% endblock %}
{% block head %}
<link rel="canonical" href="{{ SITEURL }}/{{ period[0] }}">
{% endblock %}
{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/archives-bg-min_opt.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ period | reverse | join(' ') }}</h1>
                        <hr class="small">
                        <span class="subheading">Archives for the {{ period | reverse | join(' ') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
	    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	{% for article in dates %}
                <div class="post-preview">
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        <h2 class="post-title">
                            {{ article.title }}
                        </h2>
                        <h3 class="post-subtitle">
                        	{% if article.abstract %}
                            	{{ article.abstract }}
                            {% else %}
                            	{{ article.summary }}
                            {% endif %}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by 
                    	{% for author in article.authors -%}
                    	<a href="{{ SITEURL }}/{{ author.url }}">{{ author }} </a>
                    	{%- endfor %}
                     on {{ article.locale_date|sd }} </p>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}